*

!.bash_profile
!/.bash_partials/
!.zshrc
!/.zsh_partials/

# GIT
!.global-gitignore
!.gitignore
!.gitconfig

# RUBY & RAILS
!.rspec
!.ec2
!.pow
!.tm_properties
!.rdebugrc

# VIM
!.vimrc
!.vim

# Other
!~/bin
.DS_Store
