*

!.bash_profile

# GIT
!.global-gitignore
!.gitignore
!.git-aliases.sh
!.git-completion.sh
!.gitconfig

# RUBY & RAILS
!.rspec
!.ec2
!.pow
!.tm_properties
!.rdebugrc

# VIM
!.viminfo
!.vimrc
!.vim

.DS_Store
