[user]
	name = Andy Mitchell
	email = 326561+Themitchell@users.noreply.github.com

[url "git@github.com:"]
  	insteadOf = https://github.com/

[mergetool]
	keepBackup = true

[http]
	sslVerify = false

[color]
	diff = auto
	branch = auto
	status = auto

[color "status"]
  	added = blue
  	changed = yellow
  	untracked = white dim

[color "diff"]
  	meta = white bold
  	frag = magenta ul
  	old = red bold
  	new = green bold

[core]
	excludesfile = /Users/andy/.gitignore-global
	autocrlf = input
	editor = vim

[push]
	default = current

[rerere]
	enabled = true

[alias]
  	br  = branch
  	co  = checkout
  	cm  = commit
  	st  = status
  	df = diff
  	dc = diff --cached
  	pl  = pull
  	plr = pull -r
  	mrg = merge
  	ps  = push
  	sh  = stash
  	pop = stash pop
  	grp = grep
  	delete = "!f() { git push $1 --delete $2; }; f"
  	untrack = rm --cache --
  	save = !git add -A && git commit -m 'SAVEPOINT'
  	wip = commit -am "WIP"
  	undo = reset HEAD~1 --mixed
  	amend = commit -a --amend
  	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  	bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
  	lg  = log --pretty=format:\"%x1b[33m%h%Creset %Cgreen%m%Creset %s %Cgreen(%an)%Creset\"
  	hist = log --pretty=format:\"%x1b[33m%h%Creset %x1b[37m%ad%Creset %Cgreen%m%Creset %s %Cgreen(%an)%Creset\" --graph --date=short
  	type = cat-file -t
  	dump = cat-file -p
  	fixup = !git rev-list -1 $1 | xargs -I % sh -c 'git commit --fixup % && GIT_SEQUENCE_EDITOR=true git rebase -i --autosquash %^'
  	feature = checkout -b feature/$1
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	template = /Users/andy/.git-commit-message
[pull]
	rebase = true
[init]
	defaultBranch = master
