[user]
	name = Andy Mitchell
	email = themitchell@me.com
[mergetool]
	keepBackup = true
[http]
	sslVerify = false
[color]
	diff = auto
	branch = auto
	status = auto
[core]
	excludesfile = /Users/andy/.gitignore-global
	autocrlf = input
[push]
	default = simple
[rerere]
	enabled = false
[alias]
	dfw = diff --ignore-space-change
