[user]
	name = Andrew Mitchell
	email = themitchell@me.com
[mergetool]
	keepBackup = true
[http]
	sslVerify = false
[color]
	diff = auto
	branch = auto
	status = auto
[core]
	excludesfile = /Users/andy/.gitignore-global
[push]
	default = simple
